2_SMC_AICA_2026_Competition_Files/python/tools/QDrone_PathPlanning/city_voxel_map.npz
2_SMC_AICA_2026_Competition_Files/python/tools/QDrone2_PathPlanning/city_voxel_map.npz
2_SMC_AICA_2026_Competition_Files/python/tools/QDrone2_PathPlanning/city_voxel_map.npz
2_SMC_AICA_2026_Competition_Files/python/tools/QDrone2_PathPlanning/city_voxel_map.npz
